@media only screen and (max-width: $mobile) {
  .video__section {
    padding: 71px 0 73px;
    &-tit {
      @include section-heading(91px, $white-color);
      font-size: 38px;
    }

    &-play {
      width: 75px;
      height: 115px;
      // padding: 39px 65px 51px 56px;
      padding: 48px 66px 51px 56px;

      margin-bottom: 82px;
    }
    &-icon {
      // width: 36px;
      // height: 46px;
      // margin-top: 40px;
      margin-left: -2px;
      transform: scale(5, 5);
    }
  }
}
